@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.page-size {
  max-width: 1440px;
  margin: 0 auto;
}


/* Track */
::-webkit-scrollbar {
  width: 4px;
  /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #716EDC;
  /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7dede;
  /* Color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #004040;
  /* Color of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #ddd;
  /* Color of the scrollbar track on hover */
}

ul {
  @apply list-disc
}

ol {
  @apply list-decimal
}